# Python
__pycache__/
*.pyc
venv/
.venv/

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
.DS_Store

# Packer
packer_cache/
*.box
